name: pre-commit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: install extras for mypy
        run: |
          pip install -e ".[redis,diskcache,speedup,dill,lint]"

      - uses: pre-commit/action@v3.0.1
